body {
  background: black;
  color: red;
  text-align: center;
  font-family: monospace;
}

button {
  padding: 15px;
  font-size: 18px;
  background: red;
  color: black;
  border: none;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.text {
  font-size: 20px;
  margin-top: 20px;
}

img {
  width: 90%;
  max-width: 300px;
  margin-top: 20px;
}
